.main-content {
	padding: 0;
	margin: 0 auto;
}

.main-content__portfolio-wrapper {
	margin-top: 50px;
}

.main-content__photo-wrapper {
	margin: 0;
	padding: 0;
}

.main-content__contact-wrapper {
	margin-top: 50px;
	margin-left: 100px;
}

.main-content__image {
	margin: 0;
	padding: 0;
}

.main-content__about-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 50px;
}

.main-content__photo--about {
	margin-left: 50px;
	max-width: 640px;
}

.main-content__text--about {
	font-family:'DietDidotTitleItalic';
	font-style: italic;
	font-size: 16px;
    width: 600px;
    margin-right: 50px;
    margin-left: 50px;
}

.text__about--first {
	margin-top: 0;
}
