.photo-galery {
	margin-top: 100px;
}

.photo-galery__head {
	text-align: center;
	padding-top: 20px;
}

.photo-galery-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.photo-galery-list__item {
	width: 370px;
	margin: 10px 10px;
}

.photo-galery-list__item:hover {
	width: 390px;
}

.photo-galery-list__text {
	color: @small-text;
}
