body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1150px;
  color: @main-text;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
	list-style: none;
}

.visualy-hiden {
	display: none;
}
